            /*
            * Normalisation supplémentaire
            * =============================================== */

            *,
            ::before,
            ::after {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            /*
            * Variables CSS globales
            * =============================================== */
            :root {
                --couleur-1: #c8eedf;
                --couleur-2: #00883b;
                --couleur-3: #0e0e0e;
                --couleur-texte: hsl(36, 68%, 34%);
            }

            /*
            * Mise en page de base
            * =============================================== */
            html, body {
                overflow-x: hidden;
            }
            html {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: clamp(14px, 0.75rem + 1vw, 22px);
            }
            header{
                height: 30vh;
                display: flex;
                align-items: center;
                justify-content: center;              
                background-color: rgb(148, 95, 26);              
                width: 100vw;
                flex-direction: column;
            }
         nav {
            
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
         }
        nav a {
            background-color: rgb(168, 129, 77); 
            height: 6vh;
            padding-top: 0.8vh;
            flex: 1 1 0;        
            border-right: solid 5px #0e0e0e;
            border-top: solid 5px black;
            border-bottom: solid 5px black;
            font-size: x-large;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }


            header img {
                padding-top: 65px;
            }
            body {
                height: 100%;
                width: 100%;
                text-align: center;
                background: radial-gradient( #e4b051 40%, #4d260dc5 92%) no-repeat;
                background-size: auto;
                /*Conteneur Flex*/
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            p{
                padding: 50px;
            }
            h2{
                padding-bottom:20px ;
            }
            h3{
                padding-top: 15px;
            }
            div{
                margin: 50px;
            }
            div#jeu{
                height: 500px;
                width: 1000px;
                background-image: none;
                background-color: var(--couleur-texte);
                display: flex;
                justify-content: left;
                border: solid 5px black;
                
            }
            div#histoire {
                display: flex;
                flex-direction: column;
                width: 50%;
                background-color: var(--couleur-texte);
                margin: 40px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            }
            div#jeu div#defi{
                margin: 0;
                width: 50%;
                height: 100%;
                background-image: url("../images/anilmaux.jpg");
                background-position: 0%;
                cursor: pointer;
                animation: defilement 20s infinite;
                background-size: cover;
            }
            #image{
                background-color: hsl(36, 68%, 34%);
                width: 1000px;
                height: 400px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: solid 5px black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            figcaption{
                display: flex;
                flex-direction: column;
            }
            img{
                filter: grayscale(50%);

            }
            #environement{
                background-color: hsl(36, 68%, 34%);
                
                width: 50vw;
                border: solid 5px black;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }
            button{
                background-color: rgb(236, 200, 153);
                color: #963e0b;
                font-size: 200%;
                width: 500px;
                height: 100px;
            }
            button:hover{
                color: red;
                background-color:#d8a038 ;
                border-color:red ;
                cursor: pointer;
            }
            #image3 {
                height: 300px;
                width: 300px;
                border: 5px dotted rgb(255, 145, 0);
                
              
            }
            @keyframes defilement{

                from{
                    background-position-x: -0px;
                }
                5%{
                    background-position-x: -0px;
                }
                20%{
                    background-position-x: -503px;
                }
                30%{
                    background-position-x: -503px;
                }
                40%{
                    background-position-x: -1004px;
                }
                50%{
                    background-position-x: -1004px;
                }
                60%{
                    background-position-x: -1506px;
                }
                70%{
                    background-position-x: -1506px;
                }
                80%{
                    background-position-x: -2000px;
                }
                90%{
                    background-position-x: -2000px;
                }
                to{
                    background-position-x: -2000px;
                }
            }



